{
    "ApplicationInsights": {
        "InstrumentationKey": ""
    },
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    },
    "ConnectionStrings": {
        "Default": "Server={server};Uid={user};Pwd={pass};Database={database};UseCompression=True;AllowBatch=true;UseUsageAdvisor=True;"
    }
}
